@page "/messages/{id}"
@model CSMWebsite2023.Web.Pages.Messages.Index
@{
}



@* @{
    if(Model.Chats != null)
    {
        <ul>
        @foreach(var chat in Model.Chats)
        {
            <li>@chat.Name</li>
        }
        </ul>
    }
} *@

@{
    if(Model.ChatMessage != null)
    {
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/users/@(Model.ChatMessage.UserId).png" alt="Card image cap">
          <div class="card-body">
                <h5 class="card-title">@Model.ChatMessage.User.FirstName @Model.ChatMessage.User.LastName</h5>
                <p class="card-text">@Model.ChatMessage.Message</p>
          </div>
          <div class="card-body">
                @{
                    foreach(var medium in Model.ChatMessage.ChatMedia)
                    {
                        if(medium.MediaType == Data.Enums.MediaType.ImageUrl)
                        {
                            <img class="card-img" src="/messages/@(Model.ChatMessage.Id)/@(medium.Value)" alt="">
                        }
                    }
            }
          </div>
        </div>
    }
}