@page "/researches/{id}"
@model CSMWebsite2023.Web.Pages.Research
@{
}


@{
    if (Model.ResearchItem != null)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/users/@(Model.ResearchItem.UserId).png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">@Html.Raw(Model.ResearchItem.Abstract)</p>
            </div>
        </div>
    }
}