@page "/research/{id}"
@model CSMWebsite2023.Web.Pages.Research
@{
}


@{
    if (Model.ResearchItem != null)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@(Model.ResearchItem.ArticleImage)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.ResearchItem.Title</h5>
                <p class="card-text">@Model.ResearchItem.Abstract</p>
            </div>
        </div>
    }
}